h1{
    font-size: 80px;
    display: flex;
    justify-content: center;
}
#taskCanvas{
    margin: 50px;
    padding: 10px;
    border: 3px solid grey;
    background-color: rgb(182, 180, 180);
    border-radius: 6px;
}
.taskBox{
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid orange;
    background-color: rgb(255, 221, 158);
    border-radius: 6px;
}
#taskHeader{
    border: none;
    background-color: rgb(114, 113, 113);
}
.task{
    width: 60%;
    display: inline-block;
}
.dueDate{
    width: 30%;
    display: inline-block;
}